.bdesc {
  padding: 6rem 0;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 2rem;
  @media only screen and (max-width: $bp-medium) {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  &__desc{
    grid-column: 1/6;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    @media only screen and (max-width: $bp-medium) {
      padding: 1rem;
    }
    &-title{
      font-size: 3rem;
      font-weight: bold;
      @media only screen and (max-width: $bp-medium) {
        text-align: center;
      }
    }
    &-text{
      padding: 1rem 0;
      text-align: justify;
      @media only screen and (max-width: $bp-medium) {
        text-align: center;
      }
    }
    &-action{
      padding-top: 4rem;
      @media only screen and (max-width: $bp-medium) {
        display: flex;
        padding-top: 2rem;
        justify-content: center;
        text-align: center;
      }
    }
  }
  &__image{
    grid-column: 6/-1;
    img{
      width: 100%;
      height: 30rem;
      object-fit: cover;
      display: block;
      border-radius:var(--borderRadius-half);


    }
    @media only screen and (max-width: $bp-medium) {
      grid-column: 1/6;
      img{
        border-radius:0 ;
      }
    }
  }
}
