.cList {
  padding-top: 4rem;
  padding-bottom: 3rem;
  @media only screen and (max-width: $bp-medium) {
    padding: 1rem;
  }
  &__title {
    display: flex;
    justify-content: center;
    padding: 2rem 0 5rem 0;
    h2 {
      font-size: 3rem;
      width: max-content;
      font-weight: bold;
      position: relative;
      text-align: center;
      &:after {
        content: "";
        position: absolute;
        left: 25%;
        bottom: -8px;
        height: 2%;
        width: 50%;
        margin: 0 auto;
        border-bottom: 2px solid var(--p-color);
      }
    }
  } 
  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    // justify-content: center;
    grid-gap: 2rem;
    @media only screen and (max-width: 1370px) {
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
    @media only screen and (max-width: 1100px) {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
    @media only screen and (max-width: $bp-medium) {
      // grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
      display: flex;
      justify-content: unset;
      overflow-y: auto;
      -ms-overflow-style: none;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
  &__itemsResonsive{
    display: none;
    @media only screen and (max-width: $bp-medium) {
      display: none;
    }
  }
  .swiper-button-next, .swiper-button-prev{
    display: none;
  }
}
